.btn-container{
    display: flex;
    justify-content: center;
    background-color: rgb(220, 220, 220);
    align-items: center;
    gap: 5px;
    padding: 1.5rem;
    height: 13%;
}

.btn{
    border: 1px solid rgb(252, 252, 252);
    color: white;
    background-color: rgba(0, 0, 0, 0.952);
    padding: 2.5px 8px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}