.btn-container{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    gap: 5px;
}

.btn{
    border: 1px solid rgb(252, 252, 252);
    color: white;
    background-color: rgba(0, 0, 0, 0.952);
    padding: 2.5px 8px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

/* .bar-container{
    display: absolute;
    
    margin-top: 5rem;
    background-color: white;
}

.array-bar{
    width: 4px;
    height: 10rem;
    display: inline-block;
    background-color: black;
    margin: 0 3px;
}

.array-bar.compared{
    background-color: rgb(228, 193, 95);
}

.array-bar.sorted{
    background-color: rgb(46, 107, 46);
}

.array-bar.swapping{
    background-color: rgb(206, 95, 233);
} */